Makefile
/Makefile.am
Makefile.in
autom4te.cache
config.cache
config.guess
config.h*
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
*.pot
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
Makefile.am.common
*.ami
*.bz2
.dep
tmp.*
*.log
*.m4

/autodocs
doc/index.md
doc/yast.h
