sudo: required
language: bash
services:
  - docker

before_install:
  - docker build -t yast-pkg-bindings-image .
script:
  # the "yast-travis-cpp" script is included in the base yastdevel/cpp image
  # see https://github.com/yast/docker-yast-cpp/blob/master/yast-travis-cpp
  # run additional smoke tests to check the basic functionality
  - docker run -it yast-pkg-bindings-image bash -c "yast-travis-cpp && ./smoke_test_prepare.sh && ./smoke_test_run.rb"

after_success:
  - ./.surge.sh
